<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/img/logo-menu.png"></a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse-navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Olá, Julia <br> Contas e Listas 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Devoluções e Pedidos</a>
              </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="" target="_blank">
                <p class="bi bi-basket2-fill"> Carrinho</p> 
            </a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>

  <div class='pedidos'>

    <div id="textos-contas">
        <p class="sua-conta"> <font color="#00CED1">Sua conta ></font> <font color="#F4A460"> Seus pedidos</font></p>
    </div>

    <div class="pedidos-pesquisa">
        <h1 class="seus-pedidos">Seus pedidos</h1>

        <nav class="navbar-bg-light">
            <form class="container-fluid">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                <input type="text" class="form-control" placeholder="Buscar pedidos" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </form>
          </nav>

          <div class="qnt-pedidos">
            <p><strong>6 pedidos</strong> feitos em 
              
              <select class="select" aria-label=".form-select-sm example size 3">
                <option selected>2022</option>
                <option value="1">2021</option>
                <option value="2">2020</option>
                <option value="3">2019</option>
              </select>
          </div>
    </div>

    <div class="demonstracao-pedido">
        <p class="txt-pedido-realizado"> PEDIDO REALIZADO <br> 30 de agosto de 2022</p>
        <p class="txt-total"> TOTAL <br> R$ 400,80</p>
        <p class="txt-eviar-para">ENVIAR PARA  <br> <font color="#00CED1">Julia Santos</font> </p>
    

    <div class="demonstracao-pedido-direita">
        <p class="txt-num-pedido">PEDIDO Nº 155-4853105-8123458<font color="#00CED1"><br>Exibir detalhes do pedido     |     Exibir recibo</font> </p>
    </div>

  </div>
    <div class="demonstracao-pedido-2">
        <img src="../../../assets/img/perfume-vitrine.jpg" class="imgVitrine">

        <div class="bnt-">
          
          <div class="alinhamento-margens">
            <p class="txt-descricao2"><font color="#00CED1">Perfume Jadore Feminino Dior</font> <br> O período de devolução se encerrou em 21 de set. de 2021<br><button type="button-comprar-novamente" class="bnt-comprar-novamente">Comprar novamente</button></p>
            <br>
            
            
            
       
            <div class="bntRight">
                <button type="button-right" class="button-right">Devolver ou substituir itens <br></button>
                <button type="button-right" class="button-right">Compartilhar recebido de presente<br></button>
                <button type="button-right" class="button-right">Avaliar o produto</button>

            </div>
          </div>
        </div>
    </div>

    <p class="txt-aquivar-pedido"><font color="00CED1">Arquivar pedido</font></p>






    <div class="demonstracao-pedido">
      <p class="txt-pedido-realizado"> PEDIDO REALIZADO <br> 18 de agosto de 2022</p>
      <p class="txt-total"> TOTAL <br> R$ 28,80</p>
      <p class="txt-eviar-para">ENVIAR PARA  <br> <font color="#00CED1">Julia Santos</font> </p>
  

  <div class="demonstracao-pedido-direita">
      <p class="txt-num-pedido">PEDIDO Nº 701-4853105-8972208<font color="#00CED1"><br>Exibir detalhes do pedido     |     Exibir recibo</font> </p>
  </div>

</div>
  <div class="demonstracao-pedido-2">
      <img src="../../../assets/img/esponja-vitrine.jpg" class="imgVitrine">

      <div class="bnt-">
        
        <div class="alinhamento-margens">
          <p class="txt-descricao2"><font color="#00CED1">Esponja de Maquiagem, Océane, Vinho</font> <br> O período de devolução se encerrou em 19 de set. de 2021<br><button type="button-comprar-novamente" class="bnt-comprar-novamente">Comprar novamente</button></p>
          <br>
          
          
          
     
          <div class="bntRight">
              <button type="button-right" class="button-right">Devolver ou substituir itens <br></button>
              <button type="button-right" class="button-right">Compartilhar recebido de presente<br></button>
              <button type="button-right" class="button-right">Avaliar o produto</button>

          </div>
        </div>
      </div>
  </div>

  <p class="txt-aquivar-pedido"><font color="00CED1">Arquivar pedido</font></p>





  <div class="demonstracao-pedido">
    <p class="txt-pedido-realizado"> PEDIDO REALIZADO <br> 15 de agosto de 2022</p>
    <p class="txt-total"> TOTAL <br> R$ 18,50</p>
    <p class="txt-eviar-para">ENVIAR PARA  <br> <font color="#00CED1">Julia Santos</font> </p>


<div class="demonstracao-pedido-direita">
    <p class="txt-num-pedido">PEDIDO Nº 445-5432105-8972208<font color="#00CED1"><br>Exibir detalhes do pedido     |     Exibir recibo</font> </p>
</div>

</div>
<div class="demonstracao-pedido-2">
    <img src="../../../assets/img/blush-vitrine.jpg" class="imgVitrine">

    <div class="bnt-">
      
      <div class="alinhamento-margens">
        <p class="txt-descricao2"><font color="#00CED1">Blush iluminador Ruby Rose</font> <br> O período de devolução se encerrou em 15 de set. de 2021<br><button type="button-comprar-novamente" class="bnt-comprar-novamente">Comprar novamente</button></p>
        <br>
        
        
        
   
        <div class="bntRight">
            <button type="button-right" class="button-right">Devolver ou substituir itens <br></button>
            <button type="button-right" class="button-right">Compartilhar recebido de presente<br></button>
            <button type="button-right" class="button-right">Avaliar o produto</button>

        </div>
      </div>
    </div>
</div>

<p class="txt-aquivar-pedido"><font color="00CED1">Arquivar pedido</font></p>
    
